<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.fit.model.dao.VideoDao">

	<select id="selectVideoByPart" parameterType="String" resultType="Video">
		SELECT id, title, part, channelName, url, view_cnt as viewCnt
		FROM video
		WHERE part = #{part}
	</select>

	<update id="updateVideoViewCnt" parameterType="String">
		UPDATE video
		SET view_cnt = view_cnt + 1
		WHERE id = #{id}
	</update>

	<select id="selectVideoList" resultType="Video">
		SELECT id, title, part, channelName, url, view_cnt as viewCnt
		FROM video
		ORDER BY viewCnt DESC;
	</select>
	
	<select id="selectVideoById" parameterType="String" resultType="Video">
		SELECT id, title, part, channelName, url, view_cnt as viewCnt
		FROM video
		WHERE id = #{id}
	</select>

</mapper>